body{
 background-color: beige !important;

}
#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}


ul{
    padding: 0;
    list-style: none;
}

.social-links,ul,li{
    list-style-type: none;
    display: inline;

}

.social{
    width: 20px;
    height: 20px;
}

footer{
text-align: center;

}
.border-success{
stroke: aqua;
}

.footer{
    color: aqua;
}